{% extends 'base.html' %}
{% load static %}
{% block body %}

	<main class="l-main">
	<!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">My Projects</h2>


                

                <div class="work__container bd-grid">
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/webautomation.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Python Web Automation</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Python-Web-Automation" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/OCR.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Godrej OCR Project</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Godrej-OCR-Project" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/zoom.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Zoom OBS Changer</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Zoom-OBS-auto-Changer" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/chrome.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Chrome Extension Maker</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Chrome-Extension-Maker" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Humanoid1.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Humanoid Robot</h5>
                        <div class="text-center">
                        <a href="https://drive.google.com/file/d/11o3rbVAdAy56u5adbPx8gMiy5FnkryBK/view?usp=sharing" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/PC_Voice.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Voice controlled PC</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Voice-controlled-PC-assistant" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/face_cursor.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Face and Voice Cursor Control</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Face-and-Voice-Cursor-Control" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Digital_Dustbin.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Digital Dustbin</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Digital-Dustbin" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Djeango.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Django Framework</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/My-Django" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/linear_reg.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">ML Pytorch Linear Regression</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Pytorch---Linear-Regression" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/aruco_markers.gif' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Aruco Markers Opencv</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Aruco-Markers-Opencv" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/PID.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">PID Line Follower</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Line-Follower-Robot" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Vehicle_tracking.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">SIM808 Vehicle Tracking</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Vehicle-Using-sim808" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/nodemcu.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Server Stepper Controller ESP8266</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Server-based-Stepper-Control" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Arduino_sensor.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Arduino Sensor Interface</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Arduino-Sensor-Interface" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/image_train.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Face Detection Test-Train</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Face-Detection-Train-Test" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/MIT.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">MIT App Plugins</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/MIT-App-AIX-plugin-Extensions" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/flysky.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Flysky DC control</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Flysky-DC-Robot" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Solenoid_valve.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Flow Sensor Valve</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Solenoid-Valve-Flow-Sensor" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Flask.png' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Flask Website</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Flask-Basics" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/opencv_image.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Opencv Image Processing</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/Opencv-Image-Processing" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>

                    <div class="card work__img" style="width: 18rem;">
                      <img src="{% static 'assets/img/Autotune.jpg' %}" class="card-img-top" style="max-height: 180px" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Arduino Autotune Library</h5>
                        <div class="text-center">
                        <a href="https://github.com/karan1199/-Arduino-PID-AutoTune-Library" class="btn btn-primary ">View Project</a>
                        </div>
                      </div>
                    </div>
                    

                </div>
                

                
            </section>
    </main>
{% endblock body %}